<div class="row">
    <form #form="ngForm"
          (ngSubmit)="onSubmit(form.value)">
      <div class="row">
        <div class="col-md-4 col-sm-4"></div>
        <div class="col-md-4 col-sm-4 form-group">
          <input type="number"
                 placeholder="Insert Number 1 - 14"
                 class="form-control"
                 name="order"
                 min="1"
                 max="14"
                 required
                 ngModel>
        </div>
        <div class="col-md-4 col-sm-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4"></div>
        <div class="col-md-4 col-sm-4 submitButton">
          <input class="btn btn-success" type="submit" value="Send" [disabled]="!form.form.valid">
        </div>
        <div class="col-md-4 col-sm-4"></div>
      </div>
    </form>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4"></div>
  <div class="col-md-4 col-sm-4 trackData">

    <span *ngIf="!validation; else Valid">
    <h2 id="Valid">No Data to Show</h2>
  </span>
    <ng-template #Valid>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{trackData.title}}<span>{{trackData.order_num}}</span> </h3>
          </div>
          <div class="panel-body">
            <h6><span>Status:</span> {{trackData.status}}</h6>
            <h6><span>Language:</span> {{trackData.language}}</h6>
            <h6><span>Run Time:</span> {{trackData.runtime}}</h6>
            <h6><span>Country:</span> {{trackData.country}}</h6>
            <h6><span>Genres:</span> {{trackData.genres}}</h6>
            <h6><span>Stars:</span> {{trackData.stars}}</h6>
            <h6><span>Year Start:</span> {{trackData.year.start}}</h6>
            <h6><span>Year Released:</span> {{trackData.year.released}}</h6>
            <h5><span>Some Details:</span></h5>
            <p>{{trackData.details}}</p>
          </div>
        </div>
    </ng-template>
  </div>
  <div class="col-md-4 col-sm-4"></div>
</div>
