/* You can add global styles to this file, and also import other style files */
ul{
  list-style: none;
}
input[type=submit]{
  margin: 10px;
}
.submitButton{
  text-align: center;
}
#Valid{
  text-align: center;
}
